<script id="tmpl-MainContent" type="text/html">
	<div class="MainContent">
		<form class="form-horizontal">
			<legend>Information  
				<button class="btn btn-primary saveBtn " type="button">Save</button>
				 <button class="btn btn-primary deleteBtn pull-right btn-warning" type="button">Delete</button>
			</legend>
			<div class="alert alert-success hide msg">
</div>
<div class="alert alert-block hide">
</div>
			
  <div class="control-group">
    <label class="control-label">Subject</label>
    <div class="controls">
    	<input type="hidden" name="id" value="{{:id}}">
      <input type="text" name="subject" placeholder="Subject" autofocus="autofocus"  class="input-xxlarge" value="{{:subject}}" >
      <div class="help-block hide subjectWarning">Please input Subject</div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Description</label>
    <div class="controls">
    	<textarea rows="3" class="input-xxlarge" name="description" value="{{:description}}">{{:description}}</textarea>
    </div>
  </div>
  <legend>Task list <button class="btn btn-mini btn-primary addBtn btn-success" type="button">+</button></legend>
  <table class="table table-hover">
              <thead>
                <tr>
                  <th style="width: 8%">#</th>
                  <th style="width: 40%">Title</th>
                  <th style="width: 12%">Start Time</th>
                  <th style="width: 12%">End Time</th>
                  <th style="width: 10%">Status</th>
                  <th style="width: 10%">*</th>
                </tr>
              </thead>
              <tbody class="taskListContain">
              	{{if taskList}}
              	{{for taskList}}
							 <tr>
                  <td>{{:id}}</td>
                  <td>{{:title}}</td>
                  <td>{{:startTimeView}}</td>
                  <td>{{:endTimeView}}</td>
                  <td>{{:status}}</td>
                  <td><select class="op" data-value="{{:id}}" style="width:100px">
                  	<option value="">--Choose--</option>
                  	<option value="end">End</option>
                  	<option value="del">Del</option>
                  	</select></td>
                  
                </tr>
						{{/for}}
						{{/if}}
              </tbody>
            </table>
</form>
	</div>
	<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close closeBtn" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Task Detail</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
    <label class="control-label">Title</label>
    <div class="controls">
    	<input type="hidden" name="taskId" value="{{:taskId}}">
      <input type="text" name="title" placeholder="Title" autofocus="autofocus"  class="input-xxlarge" value="{{:title}}">
    </div>
  </div>
  		<div class="control-group">
    <label class="control-label">Status</label>
    <div class="controls">
    	<select name="status">
  <option>Start</option>
  <option>End</option>
</select>
    </div>
  </div>
  
	</div>
	<div class="modal-footer">
		<button class="btn closeBtn" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button class="btn btn-primary saveTaskBtn">
			Save changes
		</button>
	</div>
</div>
    </script>
    
<script id="tmpl-MainContent-Task-item" type="text/html">
	 <tr>
                  <td>{{:id}}</td>
                  <td>{{:title}}</td>
                  <td>{{:startTime}}</td>
                  <td>{{:endTime}}</td>
                </tr>
	</script>