<script id="tmpl-ProjectList" type="text/html">
<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Project list  
              	<button class="btn btn-mini btn-primary newBtn pull-right" type="button">+</button>
              </li>
              <ul class="nav nav-list projectListContain">
              	</ul>
            </ul>
          </div><!--/.well -->
</script>

<script id="tmpl-ProjectList-item" type="text/html">
	<li class="" data-value="{{:id}}"><a href="#">{{:subject}}</a></li>
</script>
